name: Build and Test
on:
  push:
    branches:
      - "**"
    tags:
      - "v*"
  pull_request:
    branches:
      - "**"
permissions:
  id-token: write  # Required for OIDC
  contents: read
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'
      - run: npm ci
      - name: Install bare
        run: npm i -g bare
      - name: Verify bare install
        run: |
          which bare
          bare --version
      - name: Unit tests (node + bare)
        run: npm run test:unit:all
      - name: Acceptance tests (node + bare)
        run: npm run test:acceptance:all
  release:
    needs: test
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org/'
          cache: 'npm'
      - run: npm ci
      - run: npm publish --public
